
  <div class="container-header">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <button mat-button>Blog</button>
          <button mat-button>Sobre</button>
          <button mat-button>Descrição</button>        
        </div>
      </div>      
    </div>

    <div class="row">
      <mat-card class="card">
        <mat-card-header class="avatar">

          <div class="card-title">
            <mat-card-title>Nome</mat-card-title>
            <mat-card-subtitle>Apelido</mat-card-subtitle>
          </div>

        </mat-card-header>
        <mat-card-content class="text-justify">
          Coloque aqui sua biografia de forma resumida, Coloque aqui sua biografia de forma resumida, 
          Coloque aqui sua biografia de forma resumida, Coloque aqui sua biografia de forma resumida, 
          Coloque aqui sua biografia de forma resumida, Coloque aqui sua biografia de forma resumida,
          Coloque aqui sua biografia de forma resumida, Coloque aqui sua biografia de forma resumida, 
          Coloque aqui sua biografia de forma resumida, Coloque aqui sua biografia de forma resumida, 
          Coloque aqui sua biografia de forma resumida, Coloque aqui sua biografia de forma resumida.
        </mat-card-content>
      </mat-card>
    </div>

  </div>

  <div class="container-body">
    <div class="row">
      <div class="col-12">
        <div class="text-left">
          <h1>Últimas do blog</h1>
          <h2>5 dicas para sua carreira profissional</h2>
          <p>Confira algumas dicas que podem ajudar a alavancar sua carreira como desenvolvedor front-end</p>       
        </div>

        <div class="text-left">
          <h1>Últimas do blog</h1>
          <h2>5 dicas para sua carreira profissional</h2>
          <p>Confira algumas dicas que podem ajudar a alavancar sua carreira como desenvolvedor front-end</p>       
        </div>

        <div class="text-left">
          <h1>Últimas do blog</h1>
          <h2>5 dicas para sua carreira profissional</h2>
          <p>Confira algumas dicas que podem ajudar a alavancar sua carreira como desenvolvedor front-end</p>       
        </div>

        <div class="ver-tudo">
          <strong>Ver tudo</strong>       
        </div>

      </div>      
    </div>
