/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.container-header {
    width: 1170px;
    margin: 0 auto;
    background-color: #cccaca;
    height: 350px;
}

.container-body {
    padding-top: 3%;
    width: 500px;
    
    margin: 0 auto;
    background-color: #ffffff;
    height: 400px;
}

.card {
    max-width: 700px;
    margin: 0 auto;
  }

.avatar {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .card-title {
    margin-left: 150px;
    height: 500px;
  }

  .ver-tudo {
    color: blue;
  }
  